In [1]:
import pandas as pd

In [2]:
country = pd.read_csv("country.csv")

In [3]:
city = pd.read_csv("city.csv")

In [4]:
df = pd.merge(country,city, how="inner", left_on="Code",right_on="CountryCode")

# Cities in Afghanistan sorted by population

In [5]:
d1 = df[["Name_y","Name_x","District","Population_y"]]
q = "Name_x=='Afghanistan'"
print(d1.sort_values(by=['Population_y'],ascending=False).query(q))

           Name_y       Name_x  District  Population_y
1           Kabul  Afghanistan     Kabol       1780000
2        Qandahar  Afghanistan  Qandahar        237500
3           Herat  Afghanistan     Herat        186800
4  Mazar-e-Sharif  Afghanistan     Balkh        127800

# Country in the Middle East with the lowest life expectancy

In [6]:
q = "Region=='Middle East'"
d2 = df[["Name_x","LifeExpectancy","Region"]]
print(d2.sort_values(by=['LifeExpectancy'],).query(q).head(1))

     Name_x  LifeExpectancy       Region
4012  Yemen            59.8  Middle East

# Combined GNP of Carribean Countries

In [7]:
q = "Region=='Caribbean'"
d3 = df[["Name_x","GNP","Region"]]
d3 = d3.query(q)
d3.drop_duplicates(inplace=True) 
print(d3["GNP"].sum())

103586.2

In [8]:
country_language = pd.read_csv("countrylanguage.csv")
df = pd.merge(country,country_language, how="inner", left_on="Code",right_on="CountryCode")

# Western European countries that speak French

In [9]:
d4 = df[["Name","Region","Language"]]
q = "Region=='Western Europe' & Language == 'French'"
d4 = d4.query(q)
print(d4)

            Name          Region Language
66       Belgium  Western Europe   French
151  Switzerland  Western Europe   French
290       France  Western Europe   French
515   Luxembourg  Western Europe   French
533       Monaco  Western Europe   French

# Cities in Madagascar that with 'A'

In [10]:
df = pd.merge(city,country, how="inner", left_on="CountryCode",right_on="Code")
d5 = df[["Name_y","Name_x"]]
q = "Name_y=='Madagascar'"
d5 = d5.query(q)
print(d5[d5['Name_x'].str.startswith('A')])

          Name_y        Name_x
2454  Madagascar  Antananarivo
2456  Madagascar    AntsirabÃ©